/* Login styles */
.login-form {
    background-color: pink;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    color: white;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  