.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.NavLinkButton {
  margin-right: 10px;
}
